<ion-view view-title="Daftar Penumpang">
  <ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="cari">
      </label>
    </div>

    <div class="list">

      <div class="item item-button-right" ng-repeat="d in dataPesanOjek | filter : cari">

        <p>Lokasi Awal : {{d.lokasi_awal}}</p>
        <p>Lokasi Akhir : {{d.lokasi_akhir}}</p>
        <p>Email Penumpang : {{d.email}}</p>
        <p>No Telpon Penumpang : {{d.no_telpon}}</p>
        <p>Tanggal : {{d.tanggal}}</p>

        <button class="button button-positive" ng-click="ambilPesanan(d)">
          <i class="icon ion-android-clipboard"></i>
        </button>
      </div>

    </div>

    <div class="card" ng-if="dataPesanOjek.length === 0">
      <div style="text-align: center" class="item item-text-wrap">
        Data Penumpang masih kosong
      </div>
    </div>

  </ion-content>
</ion-view>
