<ion-view view-title="Pesan Supir">
  <ion-content>
    <div class="list" ng-if="enable === 1">

      <label class="item item-input">
        <input type="text" placeholder="Masukkan Lokasi Awal" ng-model="inputPesanSupir.lokasiAwal">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Masukkan Lokasi Akhir" ng-model="inputPesanSupir.lokasiAkhir">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Masukkan Jumlah Jam Anda" ng-model="inputPesanSupir.jumlahJam"/>
      </label>

      <button ng-click="prosesPesanSupir(inputPesanSupir)" class="button button-block button-positive">
        Pesan Supir
      </button>

    </div>

    <div class="list card" ng-if="enable === 2">

      <h3 style="text-align: center">Sedang Mencari Supir</h3>

      <div class="item item-image">
        <img src="img/supir.gif">
      </div>

    </div>

    <div class="card" ng-if="enable === 3">
      <div class="item item-divider">
        Data Pesanan Anda :)
      </div>
      <div class="item item-text-wrap">
        <p>Lokasi Awal Anda : {{dataPesanan.lokasi_awal}}</p>
        <p>Lokasi Akhir Anda : {{dataPesanan.lokasi_akhir}}</p>
        <p>Harga : Rp {{dataPesanan.harga}}</p>
        <p>Nama Supir : {{dataPesanan.nama_supir}}</p>
        <p>No Telpon Supir : {{dataPesanan.no_telpon}}</p>
        <p>Tanggal : {{dataPesanan.tanggal}}</p>
      </div>
    </div>

  </ion-content>
</ion-view>
